*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #D9D2D2;
}

nav{
    height: 12.408vh;
    display: flex;
    background-color: #255296;
    font-family: "Itim", cursive;
    color: white;
    justify-content: left;
}

nav h1{
    padding-top: 2.3148vh;
    margin-bottom: 2.3148vh;
    margin-inline: 10.9375vw;
    font-size: 50px;
    font-weight: 150;
}

.tabela-periodica{
    height: 56vh;
    width: 60vw;
    margin-left: 10.78125vw;
    margin-right: 32.96875vw;
    margin-top: 12.5vh;
    background-color: #93959F;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4.8148vh;
    padding-left: 1.5608vw;
    padding-right: 3.6vw;
    padding-bottom: 56vh;
    box-shadow: 0px 10px 50px 0px;

}

.elemento{
    height: 8.85665529%;
    width: 4.92037037%;
    border: 1px solid black;
    font-size: 5px;
    font-family: "Itim", cursive;
    padding-left: 3px;
    padding-bottom: 50px;
    padding-right: 48px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    transition: 0.2s;
}

.elemento:hover{
    transform: scale(1.3);
    box-shadow: 0px 10px 50px 0px;
}

.elemento a{
    position: relative;
    top: -10px;
    font-size: 25px;
}

.elemento h1{
    margin-left: 14px;
}

.elemento h2{
    margin-top: -20px;
}

.elemento h3{
    margin-top: -6px;
}

.elemento a,h2,h3{
    margin-left: 45px;
}


.point-1{
    height: 8.85665529%;
    width: 4.92037037%;
    border: 1px solid black;
    background-color: #1BFF58;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    padding-bottom: 50px;
}

.point-1 h1{
    margin-top: 40px;
    font-size: 30px;
}

.point-2{
    height: 8.85665529%;
    width: 4.92037037%;
    border: 1px solid black;
    background-color: #196262;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 4;
    padding-bottom: 50px;
}

.point-2 h1{
    margin-top: 40px;
    font-size: 30px;
}

/*
    CORES DOS ELEMENTOS
*/

.elemento:nth-child(3){
    margin-right: 47.36vw;
    background-color: #AF46FF;
}
.gases-nobres{
    background-color: #1BC2FF;
}

.metais-alcalinos{
    background-color: #FF1B1B;
}

.metais-alcalinoterrosos{
    background-color: #FF8D1B;
}

.metais-de-transicao{
    background-color: #FFDD1B;
}

.semimetais{
    background-color: #42CF71;
}

.metais-pos-transicao{
    background-color: #B2D225;
}

.propriedades-desconhecidas{
    background-color: #CDC3B9;
}

.ametais-reativos{
    background-color: #AF46FF;
}

.elemento:nth-child(11), .elemento:nth-child(19), .elemento:nth-child(37), .elemento:nth-child(55), .elemento:nth-child(87){
    background-color: #FB1BFF;
}

.elemento:nth-child(6){
    margin-right: 30.7vw;
}

.elemento:nth-child(14){
    margin-right: 30.7vw;
}

.elemento:nth-child(32){
    margin-right: 3vw;
}


.elemento:nth-child(50){
    margin-right: 3vw;
}

.elemento:nth-child(82){
    margin-right: 3vw;
}

.elemento:nth-child(114){
    margin-right: 3vw;
}

.elemento:nth-child(n + 72):nth-child(-n + 90){
    order: 3;
}

.elemento:nth-child(n + 104):nth-child(-n + 121){
    order: 5;
}

.elemento:nth-child(59){
    margin-left: 11%;
}

.elemento:nth-child(73){
    margin-right: 13%;
}

.elemento:nth-child(91){
    margin-left: 11%;
}

.lantanideos:nth-child(n + 59):nth-child(-n + 73){
    margin-top: 2%;
    background-color: #1BFF58;
    order: 6;
}
.actinideos:nth-child(n + 91):nth-child(-n + 105){
    background-color: #196262;
    order: 7;
}

.tabela-indicators input[type="checkbox"]:after {
    content: "✓"; /* Símbolo de check */
    font-size: 16px;
    color: green;
    position: absolute;
    top: 0;
    left: 5px;
}